<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add oil type</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Add new oil type</h1>
	<div>
		<form th:object="${oiltype}" th:action="saveoiltype" action="#" method="post">

		  	<label for="typeName">Oil type name</label>
			<input type="text" id="typeName" th:field="*{typeName}" />
			<div style="clear: both; display: block; height: 10px;"></div>
			
			<input type="submit" value="Save"></input>
		</form>
	</div>
</body>
</html>